<%
KVerbs = File.read("KVerbFile")
KAdverbs = File.read("KAdverbFile")
KIOVerbs = File.read("KIOVerbFile")
KReservedWords = File.read("KReservedWordFile")
%>

<html>
    <head>
        <title>
            Kona Quick Dictionary
        </title>
        <style>
        body {

        }

        .wordTypeContainer {
            display: inline-block;
        }

        .wordCountContainer {
            float: left;
            display: block;
            width: 25%;
        }
        </style>
    </head>
    <body>
        <p>
            This is just a nicely formatted screenscrape of the in-application help for Kona. Feel free to contribute to any sections though.
        </p>
        <a style="display:block" href="https://github.com/aearnus/kona-dictionary">
            Github page
        </a>
        <div class="wordTypeContainer">
            <h1>
                Verbs
            </h1>
            <h2>
                Basic Info
            </h2>
            <p>
                <% kVerbLines = KVerbs.split(?\n) %>
                <%=kVerbLines[0..3].join(". ") %>
                <% kVerbLines = kVerbLines[4..-2] %>
            </p>
            <div class="wordCountContainer">
                <h2>
                    Monadic
                </h2>
                <%
                kVerbLines.each do |verb|
                    verb.match(/\A(.)\s(\w+)\s+(.+)\z/) do |verbData|
                        if verbData.captures[1] == "monadic"
                            %>
                            <div>
                            <%= verbData.captures[0] %>
                            </div>
                            <div>
                            <%= verbData.captures[2] %>
                            </div>
                            <br/>
                            <%
                        end
                    end
                end
                %>
            </div>
            <div class="wordCountContainer">
                <h2>
                    Dyadic
                </h2>
                <%
                kVerbLines.each do |verb|
                    verb.match(/\A(.)\s(\w+)\s+(.+)\z/) do |verbData|
                        if verbData.captures[1] == "dyadic"
                            %>
                            <div>
                            <%= verbData.captures[0] %>
                            </div>
                            <div>
                            <%= verbData.captures[2] %>
                            </div>
                            <br/>
                            <%
                        end
                    end
                end
                %>
            </div>
            <div class="wordCountContainer">
                <h2>
                    Triadic
                </h2>
                <%
                kVerbLines.each do |verb|
                    verb.match(/\A(.)\s(\w+)\s+(.+)\z/) do |verbData|
                        if verbData.captures[1] == "triadic"
                            %>
                            <div>
                            <%= verbData.captures[0] %>
                            </div>
                            <div>
                            <%= verbData.captures[2] %>
                            </div>
                            <br/>
                            <%
                        end
                    end
                end
                %>
            </div>
            <div class="wordCountContainer">
                <h2>
                    Tetradic
                </h2>
                <%
                kVerbLines.each do |verb|
                    verb.match(/\A(.)\s(\w+)\s+(.+)\z/) do |verbData|
                        if verbData.captures[1] == "tetradic"
                            %>
                            <div>
                            <%= verbData.captures[0] %>
                            </div>
                            <div>
                            <%= verbData.captures[2] %>
                            </div>
                            <br/>
                            <%
                        end
                    end
                end
                %>
            </div>
        </div>


        <div class="wordTypeContainer">
            <h1>
                Adverbs
            </h1>
            <h2>
                Basic Info
            </h2>
            <p>
                <% kAdverbLines = KAdverbs.split(?\n) %>
                <%=kAdverbLines[0..3].join(". ") %>
                <% kAdverbLines = kAdverbLines[4..-2] %>
            </p>
            <div class="wordCountContainer">
                <h2>
                    Over dyad
                </h2>
                <%
                kAdverbLines.each do |adverb|
                    adverb.match(/\A(.{1,2})\s{1,2}(\w+)\s+(.+)/) do |adverbData|
                        if adverbData.captures[1] == "over_dyad"
                            %>
                            <div>
                            <%= adverbData.captures[0] %>
                            </div>
                            <div>
                            <%= adverbData.captures[2] %>
                            </div>
                            <br/>
                            <%
                        end
                    end
                end
                %>
            </div>
            <div class="wordCountContainer">
                <h2>
                    Scan dyad
                </h2>
                <%
                kAdverbLines.each do |adverb|
                    adverb.match(/\A(.{1,2})\s{1,2}(\w+)\s+(.+)/) do |adverbData|
                        if adverbData.captures[1] == "scan_dyad"
                            %>
                            <div>
                            <%= adverbData.captures[0] %>
                            </div>
                            <div>
                            <%= adverbData.captures[2] %>
                            </div>
                            <br/>
                            <%
                        end
                    end
                end
                %>
            </div>
            <div class="wordCountContainer">
                <h2>
                    Over monad
                </h2>
                <%
                kAdverbLines.each do |adverb|
                    adverb.match(/\A(.{1,2})\s{1,2}(\w+)\s+(.+)/) do |adverbData|
                        if adverbData.captures[1] == "over_monad"
                            %>
                            <div>
                            <%= adverbData.captures[0] %>
                            </div>
                            <div>
                            <%= adverbData.captures[2] %>
                            </div>
                            <br/>
                            <%
                        end
                    end
                end
                %>
            </div>
            <div class="wordCountContainer">
                <h2>
                    Scan monad
                </h2>
                <%
                kAdverbLines.each do |adverb|
                    adverb.match(/\A(.{1,2})\s{1,2}(\w+)\s+(.+)/) do |adverbData|
                        if adverbData.captures[1] == "scan_monad"
                            %>
                            <div>
                            <%= adverbData.captures[0] %>
                            </div>
                            <div>
                            <%= adverbData.captures[2] %>
                            </div>
                            <br/>
                            <%
                        end
                    end
                end
                %>
            </div>
            <div class="wordCountContainer">
                <h2>
                    Over
                </h2>
                <%
                kAdverbLines.each do |adverb|
                    adverb.match(/\A(.{1,2})\s{1,2}(\w+)\s+(.+)/) do |adverbData|
                        if adverbData.captures[1] == "over"
                            %>
                            <div>
                            <%= adverbData.captures[0] %>
                            </div>
                            <div>
                            <%= adverbData.captures[2] %>
                            </div>
                            <br/>
                            <%
                        end
                    end
                end
                %>
            </div>
            <div class="wordCountContainer">
                <h2>
                    Scan
                </h2>
                <%
                kAdverbLines.each do |adverb|
                    adverb.match(/\A(.{1,2})\s{1,2}(\w+)\s+(.+)/) do |adverbData|
                        if adverbData.captures[1] == "scan"
                            %>
                            <div>
                            <%= adverbData.captures[0] %>
                            </div>
                            <div>
                            <%= adverbData.captures[2] %>
                            </div>
                            <br/>
                            <%
                        end
                    end
                end
                %>
            </div>
            <div class="wordCountContainer">
                <h2>
                    Join
                </h2>
                <%
                kAdverbLines.each do |adverb|
                    adverb.match(/\A(.{1,2})\s{1,2}(\w+)\s+(.+)/) do |adverbData|
                        if adverbData.captures[1] == "join"
                            %>
                            <div>
                            <%= adverbData.captures[0] %>
                            </div>
                            <div>
                            <%= adverbData.captures[2] %>
                            </div>
                            <br/>
                            <%
                        end
                    end
                end
                %>
            </div>
            <div class="wordCountContainer">
                <h2>
                    Split
                </h2>
                <%
                kAdverbLines.each do |adverb|
                    adverb.match(/\A(.{1,2})\s{1,2}(\w+)\s+(.+)/) do |adverbData|
                        if adverbData.captures[1] == "split"
                            %>
                            <div>
                            <%= adverbData.captures[0] %>
                            </div>
                            <div>
                            <%= adverbData.captures[2] %>
                            </div>
                            <br/>
                            <%
                        end
                    end
                end
                %>
            </div>
            <div class="wordCountContainer">
                <h2>
                    Each
                </h2>
                <%
                kAdverbLines.each do |adverb|
                    adverb.match(/\A(.{1,2})\s{1,2}(\w+)\s+(.+)/) do |adverbData|
                        if adverbData.captures[1] == "each"
                            %>
                            <div>
                            <%= adverbData.captures[0] %>
                            </div>
                            <div>
                            <%= adverbData.captures[2] %>
                            </div>
                            <br/>
                            <%
                        end
                    end
                end
                %>
            </div>
            <div class="wordCountContainer">
                <h2>
                    Each Right
                </h2>
                <%
                kAdverbLines.each do |adverb|
                    adverb.match(/\A(.{1,2})\s{1,2}(\w+)\s+(.+)/) do |adverbData|
                        if adverbData.captures[1] == "eachright"
                            %>
                            <div>
                            <%= adverbData.captures[0] %>
                            </div>
                            <div>
                            <%= adverbData.captures[2] %>
                            </div>
                            <br/>
                            <%
                        end
                    end
                end
                %>
            </div>
            <div class="wordCountContainer">
                <h2>
                    Each Left
                </h2>
                <%
                kAdverbLines.each do |adverb|
                    adverb.match(/\A(.{1,2})\s{1,2}(\w+)\s+(.+)/) do |adverbData|
                        if adverbData.captures[1] == "eachleft"
                            %>
                            <div>
                            <%= adverbData.captures[0] %>
                            </div>
                            <div>
                            <%= adverbData.captures[1] %>
                            </div>
                            <div>
                            <%= adverbData.captures[2] %>
                            </div>
                            <br/>
                            <%
                        end
                    end
                end
                %>
            </div>
            <div class="wordCountContainer">
                <h2>
                    Each Pair
                </h2>
                <%
                kAdverbLines.each do |adverb|
                    adverb.match(/\A(.{1,2})\s{1,2}(\w+)\s+(.+)/) do |adverbData|
                        if adverbData.captures[1] == "eachpair"
                            %>
                            <div>
                            <%= adverbData.captures[0] %>
                            </div>
                            <div>
                            <%= adverbData.captures[2] %>
                            </div>
                            <br/>
                            <%
                        end
                    end
                end
                %>
            </div>
        </div>
        <div class="wordTypeContainer">
            <h1>
                Reserved Words
            </h1>
            <%
            kReservedWordLines = KReservedWords.split(?\n)
            kReservedConstants = kReservedWordLines[2..15]
            kReservedMonads = kReservedWordLines[18..48]
            kReservedDyads = kReservedWordLines[51..69]
            kReservedTriads = kReservedWordLines[72..72]
            %>
            <div class="wordCountContainer">
                <h2>
                    Constants
                </h2>
                <%
                kReservedConstants.each do |word|
                    word.match(/\A(\w+)\s+(.+)/) do |wordData|
                        %>
                        <div>
                        <%= wordData.captures[0] %>
                        </div>
                        <div>
                        <%= wordData.captures[1] %>
                        </div>
                        <br/>
                        <%
                    end
                end
                %>
            </div>
            <div class="wordCountContainer">
                <h2>
                    Monads
                </h2>
                <%
                kReservedMonads.each do |word|
                    word.match(/\A(\w+)\s+(.+)/) do |wordData|
                        %>
                        <div>
                        <%= wordData.captures[0] %>
                        </div>
                        <div>
                        <%= wordData.captures[1] %>
                        </div>
                        <br/>
                        <%
                    end
                end
                %>
            </div>
            <div class="wordCountContainer">
                <h2>
                    Dyads
                </h2>
                <%
                kReservedDyads.each do |word|
                    word.match(/\A(\w+)\s+(.+)/) do |wordData|
                        %>
                        <div>
                        <%= wordData.captures[0] %>
                        </div>
                        <div>
                        <%= wordData.captures[1] %>
                        </div>
                        <br/>
                        <%
                    end
                end
                %>
            </div>
            <div class="wordCountContainer">
                <h2>
                    Triad(s)
                </h2>
                <%
                kReservedTriads.each do |word|
                    word.match(/\A(\w+)\s+(.+)/) do |wordData|
                        %>
                        <div>
                        <%= wordData.captures[0] %>
                        </div>
                        <div>
                        <%= wordData.captures[1] %>
                        </div>
                        <br/>
                        <%
                    end
                end
                %>
            </div>
        </div>
    </body>
</html>
